{% extends 'base.html.twig' %}

{% block title %}Wachtwoord herstellen{% endblock %}

{% block body %}
    <div id="mainContent" class="pageWidth">
        <h1>Wachtwoord vergeten</h1>
        <p>Je wachtwoord vergeten? No worries, kan iedereen gebeuren. Vul je e-mailadres hieronder en we sturen je een link om je wachtwoord te resetten.</p>

        {% if message %}<p class="alert neutral">{{ message }}</p>{% endif %}
        <form method="post">
           <div>
                <label>Email</label>
                <input type="email" name="email" placeholder="Email" required autofocus>
            </div>
            <button type="submit" class="safe">Verstuur</button>
        </form>
    </div>
{% endblock %}
