{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" id="LoginWrap">

        <h1>Login</h1>
        {% if error %}
            <div class="alert careful">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div>
            <label>E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" placeholder="E-mail" required autofocus>
        </div>
        <div>
            <label>Wachtwoord</label>
            <input type="password" name="password" placeholder="Wachtwoord" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="safe" type="submit">
            Login
        </button>

        <p id="forgotPasswordWrap">
            <small><a href="{{ path('app_register') }}">Registreren?</a></small><br />
            <small><a href="{{ path('app_forgot_password') }}">Wachtwoord vergeten?</a></small>
        </p>
    </form>
{% endblock %}
