{% extends 'base.html.twig' %}

{% block title %}Profiel {{ user.firstname }}{% endblock %}

{% block body %}
    <div id="mainContent" class="pageWidth">
        <h1>Profiel</h1>
        <p>Hallo <strong>{{ user.firstname }}</strong>! Gefeliciteerd, je hebt het gered. Hieronder de ingevulde gegevens:</p>

        <table>
            <tr>
                <th width="100">Naam</th>
                <td>{{ user.firstname }} {{ user.lastnamePrefix }} {{ user.lastname }}</td>
                <td rowspan="10"><img style="max-width: 100px;" src="{{ user.avatarUri }}" /></td>
            </tr>
            <tr>
                <th>Schermnaam</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ user.phonenumber }}</td>
            </tr>
            <tr>
                <th>IP-adres</th>
                <td>{{ user.registrationIp }}</td>
            </tr>
            <tr>
                <th>E-mailadres</th>
                <td>{{ user.email }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
