{% extends 'base.html.twig' %}

{% block title %}Wachtwoord herstellen{% endblock %}

{% block body %}
    <div id="mainContent" class="pageWidth">
        <h1>Wachtwoord aanpassen</h1>
        <p>Als je hieronder een nieuw wachtwoord* invuld, kun je weer inloggen!</p>

        {% if message %}<p class="notice">{{ message }}</p>{% endif %}
        {% if user %}
        <form method="post">
           <div>
                <label>Nieuw wachtwoord</label>
                <input type="password" name="password" placeholder="Je wachtwoord (min. {{ passwordMinLength }} tekens)" minlength="{{ passwordMinLength }}" required autofocus>
            </div>
           <div>
                <label>Verifieer wachtwoord</label>
                <input type="password" name="password_verify" placeholder="Nogmaals je wachtwoord" required>
            </div>
            <button type="submit" class="safe">Verstuur</button>
        </form>

        <p></p>

        <p>
            <small>
            <em>* Moeite met een goed wachtwoord verzinnen? Met deze truc maak je een goed wachtwoord:<br />

                &nbsp;&nbsp;- Lengte is belangrijker dan gek gedoe; Verzin 4 willekeurige woorden en plak er een speciaal teken tussen:<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ examplePassword }}</strong>. Makkelijk onthouden, maar wel lang, hoofd-&amp;kleine letters en speciale tekens.
            </em>
            </small>
        </p>
        {% else %}
        <p>We hebben geen account gevonden. Mogelijk is het fout overgenomen, is deze link al een keer gebruikt.</p>
        {% endif %}
    </div>
{% endblock %}
