@import "_colors";
@import "./nav.scss";
@import "./login.scss";
@import "./wizard.scss";

body {
    margin: 0;
    padding: 0;
    background-color: $bodyBgColor;
}

.pageWidth{
    width: 1024px;
    max-width: 96%;
    margin: 0 auto;
}

#mainHeader{
    padding: 10px 0;
    border-bottom: 1px solid $primaryColor;
    margin-bottom: 50px;
    background: $defaultHeaderBgColor;
    box-shadow: 0px 3px 5px rgba(0,0,0, 0.1);

    #logo{
        font-weight: bold;
        font-size: 3em;
        span:nth-child(1){
            color: $primaryColor;
        }
        span:nth-child(2){
            color: #333;
        }
    }
}

#mainContent{
    background: $contentBgColor;
    padding: 20px;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.3);
}