
button, .button {
  display: inline-block;
  border: 0 none;
  padding: 2px 10px;
  line-height: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  color: #FFF;
  min-width: 75px;
  text-align: center;
  text-shadow: 0 0 1px #000;
  cursor: pointer;
  background: #999;

  &.neutral {
    background: #0000bf;
  }
  &.safe {
    background: green;
  }
  &.careful {
    background: orange;
  }
  &.danger {
    background: red;
  }
  &.cancel {
    background: none;
    border: none;
    text-shadow: none;
  }

  &.small {
    min-width: 0;
    padding: 1px 5px;
    line-height: 17px;
  }
  &[disabled] {
    font-style: italic;
    color: #CCC;
    background: #999;
  }
}
.alert{
  border: 1px solid #AAA;
  padding: 5px;
  &.neutral {
    border-color: #0000bf;
    color: #0000bf;
  }
  &.safe {
    border-color: green;
  }
  &.careful {
    border-color: orange;
    color: orangered;
  }
  &.danger {
    border-color: red;
    color: red;
  }
}
form {
  > div {
    display: block;
    margin-bottom: 4px;
    > label {
      display: inline-block;
      width: 150px;
      vertical-align: top;
      margin-bottom: 2px;
    }
  }
  input, .inputWidth, .asInput {
    width: 300px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #999;
    padding: 2px 3px;
    margin-bottom: 5px;
    &[type="radio"], &[type="checkbox"] {
      width: 25px;
    }
  }
  button, .button{
    margin-top: 10px;
  }
}
/* ********************************
   Symfony generated forms
 */
form {
  /* wrap om entitie*/
  > div {
    /* 1 regel per form */
    > div {
      padding: 1px 0;
      position: relative;
      > label {
        display: inline-block;
        width: 150px;
        vertical-align: top;
      }
      > input, > select {
        width: 300px;
        height: 25px;
        line-height: 25px;
        vertical-align: top;
        margin-right: 10px;
        &[type="radio"], &[type="checkbox"] {
          width: 25px;
        }
      }
      > div {
        display: inline-block;
      }
      > textarea {
        width: 300px;
        height: 75px;
      }
      >ul{
        color: red;
        position: absolute;
        left: 435px;
        top: -8px;
      }
      & + div {
        border-top: 1px solid #FFF
      }
    }
  }
}