#LoginWrap{
  padding: 20px;
  border: 1px solid #EEE;
  width: 300px;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.3);

  h1{
    margin-top: 0;
  }

  #forgotPasswordWrap{
    margin-top: 15px;
  }
}