@import "_colors";

html{
  font-family: Helvetica Neue,Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,sans-serif;
  font-size: 15px;
  color: #333;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 5px;
  color: $defaultHeaderColor;
  margin-top: 15px;
}

h1{
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 40px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 22px;
}
h5{
  font-size: 18px;
}
h6{
  font-size: 17px;
  font-weight: normal;
}

p, ul, td{
  color: $defaultFontColor;
}
th{
  color: $defaultHeaderColor;
}
p {
  margin-top: 0;
  line-height: 1.2em;
  &.notice{
    color: orangered;
    border: 1px dashed orange;
    background: rgba(255, 185, 0, 0.25);
    padding: 5px;
    &:before{
      content: "!";
      display: inline-block;
      width: 18px;
      background-color: orangered;
      color: white;
      font-weight: bold;
      text-align: center;
      border-radius: 20px;
      margin-right: 10px;
    }
  }
}


a{
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}


table{
  width: 100%;
  th,td{
    text-align: left;
  }

  &.standard{
    tr:nth-child(odd) >td{
      background: rgba(200,200,200, 0.1)
    }
  }
}
.mockStandardTable{
  .mockTR:nth-child(odd){
    &{
      padding: 2px;
    }
    &, &>* {
      background: rgba(200, 200, 200, 0.1)
    }
  }

}

input, select, textarea{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.cancel{
  color: #666;
  font-style: italic;
  cursor: pointer;
}

@media screen and (max-width: 640px){
  h1{
    font-size: 30px;
    line-height: 30px;
  }
}