@import "_colors";

.wizard{
  .tabs{
  margin-bottom: 5px;
    >span {
      line-height: 30px;
      display: inline-block;
      text-align: center;
      margin-right: 25px;
      &.active {
        font-weight: bold;
        color: $primaryColor;
      }
    }
  }
  .steps{
    .step{
      display: none;
      &.active{
        display: block;
      }
    }
  }
}