{% extends 'emails/base.html.twig' %}

{% block body %}
<h1>Wachtwoord vergeten</h1>

<p>Geen paniek! Klik op de onderstaande link om je wachtwoord te wijzigen en je kunt zo weer verder:</p>

<p>
    <a href="{{ url('app_reset_password', {token: user.passwordResetToken }) }}">
        {{ url('app_reset_password', {token: user.passwordResetToken}) }}
    </a>
</p>
<p>
    <em>Deze link kun je 1x gebruiken.</em>
</p>
{% endblock %}