{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1>Registratie gelukt</h1>

    <p>Hoi {{ user.firstname }}! Je registratie bij Topdemo is gelukt! Via de onderstaande link kun je inloggen en dan je profiel bekijken</p>

    <p>
        <a href="{{ url('app_login') }}">{{ url('app_login') }}</a>
    </p>
{% endblock %}