<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('core') }}
        {% endblock %}
    </head>
    <body>
        <header id="mainHeader">
            <div class="pageWidth">
                <div id="logo">
                    <span>Top</span><span>demo</span>
                </div>

                <nav id="mainNav">
                    {% if app.user %}
                        <a href="{{ path('app_profile') }}">Profiel</a>
                        <a href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
                    crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
