{% extends 'base.html.twig' %}

{% block title %}Registreer{% endblock %}

{% block body %}
    <div id="mainContent" class="pageWidth">
        <h1>Registreren gelukt!</h1>

        <div class="wizard" id="registrationForm">
            <div class="tabs">
                <span>Stap 1: Jouw gegevens</span>
                <span>Stap 2: Controleer</span>
                <span class="active">Stap 3: Klaar!</span>
            </div>
            <div class="steps">
                <div class="step active">
                    Het is gelukt <strong>{{ name }}</strong>! We hebben je een e-mail verzonden met daarin een link naar jouw gegevens.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
