{% extends 'base.html.twig' %}

{% block title %}Registreer{% endblock %}

{% block body %}
    <div id="mainContent" class="pageWidth">
        <h1>Registreren</h1>

        <div class="wizard" id="registrationForm">
            <div class="tabs">
                <span class="active">Stap 1: Jouw gegevens</span>
                <span>Stap 2: Controleer</span>
                <span>Stap 3: Klaar!</span>
            </div>
            <div class="steps">
                <div class="step active">
                    <p>Met een account kun je bij pagina's waar je normaal niet bij kunt.</p>
                    {{ form(form) }}
                    <p>Na het registreren sturen we je een e-mail met inloggegevens</p>

                    <div class="navigation">
                        <button class="next safe">Controleer &raquo;</button>
                    </div>
                </div>
                <div class="step">
                    <p>Dit zijn de gegevens die je hebt ingevuld. Hebben we alles juist?</p>

                    <table id="confirmationTable">
                        <thead>
                            <tr>
                                <th width="150">Veld</th>
                                <th>Waarde</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <p></p>
                    <p>Na het registreren sturen we je een e-mail met inloggegevens</p>

                    <div class="navigation">
                        <button class="prev safe">&laquo; terug</button>
                        <button class="next careful">Registreer &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
